{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, меня зовут Макс и я начинающий джангист</h1>
<p>
  В задании было сказано что-нибудь сверстать, но на верстку время терять не хочется
  Учу джанго уже больше месяца, пока что полет нормальный, но нужно больше практики, свой сайт, идеи для него уже есть
</p>
<p>
  Ссылка на github - <a href="https://github.com/maks-pavlenkov?tab=repositories">Даа, кликай сюда</a>
<p>
    А вот фото моего рабочего порядка
</p>
<img src="{% static "img/photo_work.jpg"%}" height="350" width="250">
{% endblock %}